from advanced_alchemy.repository import SQLAlchemyAsyncRepository

from {{ package_name }}.domain.users.models import User


class UserRepository(SQLAlchemyAsyncRepository[User]):
    model_type = User
