from advanced_alchemy.service import SQLAlchemyAsyncRepositoryService

from {{ package_name }}.domain.users.models import User
from {{ package_name }}.domain.users.repositories import UserRepository
from {{ package_name }}.domain.users.schemas import UserCreate
from {{ package_name }}.lib.security import hash_password, verify_password


_DUMMY_HASH = hash_password("timing-attack-mitigation-dummy")


class UserService(SQLAlchemyAsyncRepositoryService[User, UserRepository]):
    repository_type = UserRepository

    async def create_user(self, data: UserCreate) -> User:
        return await self.create(
            {
                "email": data.email,
                "name": data.name,
                "hashed_password": hash_password(data.password),
            }
        )

    async def authenticate(self, email: str, password: str) -> User | None:
        user = await self.get_one_or_none(email=email)
        if user is None:
            verify_password(password, _DUMMY_HASH)  # equalize timing vs. real users
            return None
        if not verify_password(password, user.hashed_password):
            return None
        return user
